
.vs/DataScience/v15/.suo
DataScience/bin/Debug/netcoreapp2.0/DataScience.dll
DataScience/bin/Debug/netcoreapp2.0/DataScience.pdb
DataScience/obj/Debug/netcoreapp2.0/DataScience.dll
DataScience/obj/Debug/netcoreapp2.0/DataScience.pdb
